@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
table {
  font-family: 'Poppins', sans-serif;
  border-collapse: collapse;
  text-align: center;
  background-color: white;
  position: relative;
  margin-top: auto;
  outline: 1px solid black;
  table-layout: fixed;
}
  
table td {
  outline: 1px solid #000000;
  padding: 8px;
}


table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #E0E5E9;
  color: white;
  width: 1%;
}
