@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
table {
  font-family: 'Poppins', sans-serif;
  border-collapse: collapse;
  width: 95vw;
  text-align: center;
  background-color: white;
  position: relative;
  margin-top: auto;
  border-collapse: separate;
  border-spacing: 0px;
  outline: 1px solid black;

}
  
table td {
  border: 1px solid #000000;
  padding: 8px;

}


table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #E0E5E9;
  color: white;
}
